<app-giphy-img-search (notify)='onNotify($event)' *ngIf="searchVisible"></app-giphy-img-search>

<ul class="imgs"
    infinite-scroll
    [infiniteScrollDisabled]="infiniteScrollDisabled"
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="300"
    (scrolled)="onScrollDown()"
    (scrolledUp)="onScrollUp()">
  <li *ngFor="let img of giphyImgs;let i = index;" (click)="onSelect(img);">
    <a href="{{img.images.original.url}}" (click)="$event.preventDefault()">
      <app-image [imagePath]="img.images.downsized.url" [addClass]="myCollection[img.id]"></app-image>
      <div class="plus" (click)="onPlus(img);$event.preventDefault();$event.stopPropagation()">+</div>
    </a>
  </li>
</ul>

<app-dialog [(visible)]="selectedImg" *ngIf="selectedImg">
  <img src="{{selectedImg.images.original.url}}">
</app-dialog>
