li {
  cursor: pointer;
  list-style: none;
  margin: 0 16px 16px 0;
  overflow: hidden;
  display: inline-block;
  width: calc(25% - 16px);
  position: relative;
}
ul {
  margin: 0;
  padding: 20px 0;
  position: relative;
  width: 100%;
}
.plus {
  background: #fff;
  opacity: 0.8;
  font-size: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #999;
  padding: 0 10px;
}

@media (max-width: 767px) {
  li {
    width: calc(100% - 16px);
  }
}

@media (min-width: 768px) {
  li {
    width: calc(50% - 16px);
  }
}

@media (min-width: 992px) {
  li {
    width: calc(25% - 16px);
  }
}
