<div id="search-component">
  <input #searchBox id="search-box" (keyup.enter)="search(searchBox.value)" />
  <button #searchButton id="search-button" (click)="search(searchBox.value)">search</button>
</div>
