#search-component {
  position: relative;
}
#search-box {
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
#search-button {
  position: absolute;
  right: -4px;
  top: 0;
  height: 36px;
}
