#container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1040px;
  width: 100%;
}
nav {
  padding: 20px 0;
  a {
    padding: 5px 10px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
    &:visited {
      color: #607D8B;
    }
    &:hover {
      color: #039be5;
      background-color: #CFD8DC;
    }
  }
  a.active {
    color: #039be5;
  }
}
a {
  &:link {
    color: #607D8B;
  }
}
