<div id="container">
  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/list" routerLinkActive="active">list</a>
    <a routerLink="/upload" routerLinkActive="active">upload</a>
    <a routerLink="/collection" routerLinkActive="active">collection</a>
  </nav>
  <router-outlet></router-outlet>
</div>
