.message {
  padding: 10px 0;
  font-size: 18px;
}
span {
  color: #039be5;
}

.progress {
  margin: 15px 0;
}

.row {
  margin: 15px 0;
  width: 100%;
}

.label {
  display: inline-block;
}

@media (max-width: 767px) {
  .label {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .label {
    width: 33%;
  }
}

@media (min-width: 992px) {
  .label {
    width: 20%;
  }
}
