<div>
  <div class="row">
    <label for="username" class="label">Input user name: </label>
    <input #username type="text" id="username" name="username"/>
  </div>
  <div class="row">
    <label for="tags" class="label">Input gif tags, separated by ",": </label>
    <input #tags type="text" id="tags" name="name"/>
  </div>
  <input #fileField type="file" />
  <button id="upload" (click)="onClick(fileField, username.value, tags.value)">Upload</button>
  <div class="progress">{{ progress}}</div>
</div>

<div *ngIf="message" class="message">{{message}}</div>
